.newAccountContainer
{
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}

.panel1
{
  display:row;
  justify-content: center;
  height:70vh;
  justify-content: center;
  align-items: center;
  margin: 60px 15px 10px;
  padding: 50px 60px 0;
}

.panel1 h2{

  margin-top: 130px;
  margin-bottom:25px;
}

section .link1{
 display: flex;
 justify-content:center ;
 width:30vh;
 padding:15px;
 margin-top:10px;
 margin-left: 0px;
 text-decoration: none;
 color:#cc0000;
 transition: opacity .2s;
 font-weight: bolder;
 
}

section .link1 .back-icon
{
  position:absolute;
  left:85px;
  margin: 0 auto;
}

section .link1:hover, .back-icon:hover{
  opacity:0.7;
  font-weight: bold;
 }
section .link1 .back-icon{
  margin-right: 20px;
 
 }

.panel2
{
  display: flex;
  flex-direction: column;
  justify-self:center ;
  align-items: center;
  width:70%;  
  height:70vh;
  margin: 60px 15px 10px;
}