.navBar
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0 30px 0;

}
.navBar h1
{
  font-size: 17px;
}
.navBar button 
{
  font-size: 16px;
}

.campaigns
{
  height:90%;

}
.campaigns h2
{

  justify-content: left;
  margin:40px 120px 0px;
  font-size: 30px;
}
.border{
  border:solid 1px blue;
}



.box{
  display:flex;
  box-shadow:2px 2px  #a6a6a6 ;
  align-items: center;
  justify-content: flex-start;
  border-radius:8px;
  background:white;
  margin:2vh 2vw 5vh;
  height: 100%;
  width: 100%;
  
}

.campaigns .containerBox .box div
{
  margin:5px 15px 20px;
  align-items: center;
}


.campaigns .containerBox .box p
{
  margin-top: 20px;
  align-items: center;
}

.deleteIcon
{
  
  transition: opacity 0.3s;
}

.deleteIcon:hover
{
  filter:opacity(0.5);
}

.logoutIcon{
 border-radius: 4px;
 width:5vh;
 border:solid 1px #dcdce6;
 background:transparent;
 margin-right: 30px;
 margin-top:5px;

}

.redTitle{
  color:  rgb(179, 0, 0);
  
}