.createContainer {
    display: flex;
    justify-content: space-around;
    
}


.labelContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: space-around;

}

.labelContainer p,
h2 {
    margin: 30px 5px 0px;

}

.labelContainer img {
    position: relative;
    align-self: flex-start;
    bottom: 20px;
   
}

.createForm {
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    padding: 2px 5px 2px;
   
}

.createForm textarea {
    width: 100%;
    max-width: 90vw;
    resize: vertical;


}

.createForm input {
    margin-bottom: 20px;
    max-width: 590px;
 
}

.createForm button {
    margin-top: 8vh;
   
}

.labelContainer p {
    margin: 50px 10px 130px;
    font-size: medium;
   
}